@model WebMusic.BLL.DTO.ExecutorDTO

@{
    ViewBag.Title = "Create";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="formDiv">
    <h1>Add Executor</h1>

    <form asp-action="AddExecutor" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="inputTextBox">
            <label asp-for="Name" class="label"></label>
            <input asp-for="Name" class="allInput" />
            <span asp-validation-for="Name" class="validation"></span>
        </div>

        <div>
            <input type="submit" value="Create" class="submitButton" />
        </div>
    </form>
</div>