@model IEnumerable<WebMusic.BLL.DTO.ExecutorDTO>
@{
    ViewData["Title"] = "fff";
}


@foreach (var item in Model)
{
    <ul>
        <li>
            @Html.DisplayFor(modelItem => item.Name)

            <a href="#" onclick="event.preventDefault(); document.getElementById('deleteForm_@item.Id').submit();">Delete</a>
            <label>|</label>
            <a asp-action="EditExecutor" asp-route-id="@item.Id">Edit</a>
            <form id="deleteForm_@item.Id" asp-area="" asp-controller="Executor" asp-action="Delete" method="post" style="display: none;">
                <input type="hidden" name="executorId" value="@item.Id" />
            </form>



        </li>
    </ul>
}

