@model WebMusic.BLL.DTO.ExecutorDTO

@{
    ViewBag.Title = "Edit Exexcutor";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="formDiv">
    <h1>@Resources.Resource.EditExecutor</h1>

    <form asp-action="Edit" >
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="inputTextBox">
            <label asp-for="Name" class="label">@Resources.Resource.Name</label>
            <input asp-for="Name" class="allInput" />
            <span asp-validation-for="Name" class="validation"></span>
        </div>

        <div>
            <input type="submit" value="@Resources.Resource.Edit" class="submitButton" />
        </div>
    </form>
</div>
<a class="label" style="color: white" asp-area="" asp-controller="Executor" asp-action="AllExecutors">@Resources.Resource.BackToList</a>