@model WebMusic.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
            <div>
                <label>Ещё не зарегистрированы? </label>
                <a class="nav-link text-dark" asp-area="" asp-controller="Register" asp-action="Index">Register</a>
            </div>
        </form>
    </div>
</div>
 *@


<div class="loginDiv">
    <h1>Login</h1>
    <form asp-action="Login">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="inputField">
            <label asp-for="Login" class="login-label"></label>
            <input asp-for="Login" class="login-input" />
            <span asp-validation-for="Login" class="text-danger"></span>
        </div>
        <div class="inputField">
            <label asp-for="Password" class="login-label"></label>
            <input asp-for="Password" class="login-input" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Login"  class="login" />
        </div>
      
    </form>
   
</div>
<label class="login-label" style="color: white">Не зарегестрированны?</label>
<a class="login-label" style="color: white" asp-area="" asp-controller="Register" asp-action="Index">Зарегестрироваться</a>


