@model WebMusic.BLL.DTO.GenreDTO

@{
    ViewBag.Title = "Create";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="formDiv">
    <h1>Add Genre</h1>
    <form asp-action="PostGenre" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="inputTextBox">
            <label asp-for="Name" class="label"></label>
            <input asp-for="Name" class="login-input" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="submitButton" />
        </div>
    </form>
 </div>
