@model WebMusic.BLL.DTO.GenreDTO

@{
    ViewBag.Title = "Create";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="formDiv">
    <h1>@Resources.Resource.AddGenre</h1>
    <form asp-action="PostGenre" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="inputTextBox">
            <label asp-for="Name" class="label">@Resources.Resource.Title</label>
            <input asp-for="Name" class="allInput" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="@Resources.Resource.Add" class="submitButton" />
        </div>
    </form>
 </div>
<a class="label" style="color: white" asp-area="" asp-controller="Genre" asp-action="AllGenres">@Resources.Resource.BackToList</a>