@model IEnumerable<WebMusic.BLL.DTO.MediaDTO>
@{
    ViewData["Title"] = "fff";
}

@foreach (var item in Model)
{
    <ul>
        <li>
            @Html.DisplayFor(modelItem => item.Title)
        </li>
        <li>
            @Html.DisplayFor(modelItem => item.Genre)
        </li>
        <li>
            @Html.DisplayFor(modelItem => item.Executor)
        </li>
        <li>
            @Html.DisplayFor(modelItem => item.Id_User)
        </li>
        @* <div id="poster"><img src=@item.Path /></div> *@
       
    </ul>
}